<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>

    <h1>Result</h1>

    <% if(guess == randomNumber){ %>
        <p class="text-green">Your guess is correct</p>
    <% }else { %>
        <p class="text-red">Your guess is wrong</p>
    <% } %>

</body>
</html>